.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 85px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;

}
.sidelink{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;


}
.sidelink:hover{
  background-color: rgb(235,235,235);
}
.sidelink img{
  height: 26px;
  margin-bottom: 6px;
  
}
.sidelink div{
  font-size: 10px;
  font-family: Roboto, Arial;
  font-weight: 500;
}