
.video-container-1{
  margin-bottom: 14px;
  margin-right: 13px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.thumbnailss{
  width: 100%;
}

.profile-video-discription-1{

  display: grid;
  grid-template-columns: 50px 1fr;

}
.profile-pic{
  width: 40px;
  border-radius: 20px;

}
.video-title{

  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-image-1{
  
  position: relative;

}
.video-time{
  position: absolute;
  background-color: black;
  color: white;
  bottom: 08px;
  right: 8px;
  padding-left: 4px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
}
@media(max-width:750px) 
{
  .grid{
    grid-template-columns: 1fr 1fr;
  }
  
}
@media(min-width:1000px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
}
@media(max-width:200px){
  .grid{
    grid-template-columns: 1fr;
  }
}
